<app-tile [isRunning]="false" [hasMine]="false" [hasFlag]="false" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="false" [hasFlag]="false" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="false" [hasFlag]="true" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="false" [hasFlag]="true" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="true" [hasFlag]="false" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="true" [hasFlag]="false" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="true" [hasFlag]="true" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="false" [hasMine]="true" [hasFlag]="true" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="false" [hasFlag]="false" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="false" [hasFlag]="false" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="false" [hasFlag]="true" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="false" [hasFlag]="true" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="true" [hasFlag]="false" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="true" [hasFlag]="false" [isSwept]="true" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="true" [hasFlag]="true" [isSwept]="false" [number]="1"></app-tile>
<app-tile [isRunning]="true" [hasMine]="true" [hasFlag]="true" [isSwept]="true" [number]="1"></app-tile>