/*
#FBAE77
#E86746
#96DEFE
#FFFEFF
*/

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #e6e6e6;
    border-top: 5px solid #96DEFE;
    border-left: 5px solid #E86746;
    border-right: 5px solid #FFFEFF;
    border-bottom: 5px solid #FBAE77;
}

.tile p {
    font-size: 35pt;
}

.swept {
    /* background-color: #2c2c2c; */
    border: 0px;
    padding: 5px;
}

img {
    height: 25px;
    width: 25px;
}