<div 
    class="tile" 
    [ngClass]="{'swept':isSwept}" 
    (click)="handleClick()"
    (contextmenu)="handleContextMenu($event)">
    @if (hasMine && !hasFlag && (isSwept || (stopped && !hasWon))) {
        <img src="/assets/images/mine.png">
    } 
    @else if (hasFlag) {
        @if(stopped && !hasMine) {
            <img src="/assets/images/flag_wrong.png">
        }
        @else {
            <img src="/assets/images/flag.png">
        }
    } 
    @else if (isSwept && number > 0) {
        <p [ngStyle]="{
            'color': numberColor,
            }"
        >
        {{number}}
        </p>
    }
</div>
