<app-top-hud
    [remainingFlags]="remainingFlags"
    [startEventIn]="startSubject.asObservable()"
    [stopEventIn]="stopSubject.asObservable()"
    [resetEventIn]="resetSubject.asObservable()"
    (resetEventOut)="reset()"
></app-top-hud>
<app-tile-container
    [width]="width"
    [height]="height"
    [numMines]="numMines"
    [resetEventIn]="resetSubject.asObservable()"
    (startEventOut)="start()"
    (stopEventOut)="stop()"
    (flagEvent)="updateFlagCount($event)"
>
</app-tile-container>